{% extends 'base.html.twig' %}

{% block title %}{{ disc.discTitle }}{% endblock %}

{% block body %}
    <h1 class="my-3">Details</h1>
    <form action="" method="post">
        <div class="row mx-2">
            <div class="col-sm-12 col-lg-4">
                <img class="img-thumbnail mb-4" src="{{ asset('img/'~disc.discPicture) }}" alt="{{ disc.discPicture }}">
            </div>
            <div class="col-sm-12 col-lg-4" >
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control mb-4" value="{{ disc.discTitle }}" disabled>
                <label for="year" class="form-label">Year</label>
                <input type="text" name="year" id="year" class="form-control mb-4" value="{{ disc.discYear }}"  disabled>
                <label for="label" class="form-label">Label</label>
                <input type="text" name="label" id="label" class="form-control mb-4" value="{{ disc.discLabel }}"  disabled>
            </div>
            <div class="col-sm-12 col-lg-4">
                <label for="artist" class="form-label">Artist</label>
                <input type="text" name="artist" id="artist" class="form-control mb-4" value="{{ disc.artist }}"  disabled>
                <label for="genre" class="form-label">Genre</label>
                <input type="text" name="genre" id="genre" class="form-control mb-4" value="{{ disc.discGenre }}"  disabled>
                <label for="price" class="form-label">Price</label>
                <input type="text" name="price" id="price" class="form-control mb-4" value="{{ disc.discPrice }}"  disabled>
            </div>
        </div>
        <div class="my-5">
            <a href="{{ path('disc_edit', {'discId': disc.discId}) }}" class="btn btn-primary">Modifier</a>
            <a href="" class="btn btn-danger">Supprimer</a>
            <a href="{{ path('disc_index') }}" class="btn btn-secondary">Retour</a>
        </div>
    </form>
{% endblock %}
